*~
.*
db/schema.rb
public/stylesheets/compiled
db/*.sqlite*
solr/data
solr/pids
.rvmrc
config/database.yml
coverage/
doc/spec.html
log/*
*.log
git-export-daemon-ok
public/index.html
system
public/pdf
public/scripts
public/swf
tmp
scratch_directory
!vendor/cache/
!vendor/gems/cache/
public/assets/*
config/hirb.yml
*.swp
.livereload
*.orig
.DS_Store
*/.DS_Store
vendor/bundle/*
script/test
private/*
Procfile