- provide(:title, @store.name)
.content
  = render "shared/store_admin_sidebar", :store => @store
  .mainbar
    .page-head
      %h2.pull-left Payment Processor
      .bread-crumb.pull-right
        = link_to store_path(@store) do
          %i.icon-home
          My Store
        %span.divider /
        Payment Processor
      .clearfix
    .matter
      .container-fluid
        = render "shared/flash"
  .clearfix
  = render 'shared/footer'
