<% provide(:title, @store.name) %>
<div class="content">
  <% if @user_owned %>
  <%= render "shared/store_admin_sidebar", :locals => { :store => @store } %>
  <% else %>
    <%= render "shared/store_sidebar", :locals => { :store => @store } %>
  <% end %>
  <div class="mainbar">
      <div class="page-head">
        <h2 class="pull-left"><%= @store.name %></h2>
        <div class="clearfix"></div>
      </div>
  <div class="matter">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <%= @store.landing_page.to_s.html_safe %>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
