<div class="footer container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="padd">
        <div class="sidebar sidebar-footer">
          <ul class="navi">
           <li class="ngrey">
              <a href="#addToWishlist" data-toggle="modal">
                <i class='icon icon-bookmark'></i>Add To Wishlist
                <span class="pull-right"><i class="icon-angle-right"></i></span>
              </a>
            </li>
            <li class="ngrey">
              <a href="#addToWishlist" data-toggle="modal">
                <i class='icon icon-bookmark'></i>Add To Wishlist
                <span class="pull-right"><i class="icon-angle-right"></i></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="padd">
        <div class="sidebar sidebar-footer">
          <ul class="navi">
           <li class="ngrey">
              <a href="#addToWishlist" data-toggle="modal">
                <i class='icon icon-bookmark'></i>Add To Wishlist
                <span class="pull-right"><i class="icon-angle-right"></i></span>
              </a>
            </li>
            <li class="ngrey">
              <a href="#addToWishlist" data-toggle="modal">
                <i class='icon icon-bookmark'></i>Add To Wishlist
                <span class="pull-right"><i class="icon-angle-right"></i></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="padd">
        <div class="sidebar sidebar-footer">
          <ul class="navi">
           <li class="ngrey">
              <a href="#addToWishlist" data-toggle="modal">
                <i class='icon icon-bookmark'></i>Add To Wishlist
                <span class="pull-right"><i class="icon-angle-right"></i></span>
              </a>
            </li>
            <li class="ngrey">
              <a href="#addToWishlist" data-toggle="modal">
                <i class='icon icon-bookmark'></i>Add To Wishlist
                <span class="pull-right"><i class="icon-angle-right"></i></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="padd">
        <div class="sidebar sidebar-footer">
          <ul class="navi">
           <li class="ngrey">
              <a href="#addToWishlist" data-toggle="modal">
                <i class='icon icon-bookmark'></i>Add To Wishlist
                <span class="pull-right"><i class="icon-angle-right"></i></span>
              </a>
            </li>
            <li class="ngrey">
              <a href="#addToWishlist" data-toggle="modal">
                <i class='icon icon-bookmark'></i>Add To Wishlist
                <span class="pull-right"><i class="icon-angle-right"></i></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
