<div class="sidebar">
  <div class="sidebar-dropdown"><a href="#">Navigation</a></div>
  <div class="sidebar-inner">
    <div class="sidebar-widget">
      <form class="form-inline" method="get" action="<%= search_store_url(@store) %>">
        <div class="input-append row-fluid">
          <input name="q" type="text" class="span10" placeholder="Search Store">
          <div class="btn-group">
            <button class="btn btn-info dropdown-toggle" ><i class="icon-angle-right"></i></button>
          </div>
        </div>
      </form>
    </div>
    <ul class="navi">
      <li class="nred">
        <%= link_to root_url(:subdomain => @store.alias) do %>
          <i class="icon-home"></i> Store Home
          <span class="pull-right"><i class="icon-angle-right"></i></span>
        <% end %>
      </li>
      <li class="has_submenu nred">
        <a href="#">
          <i class="icon-th"></i> Browse Inventory
          <span class="pull-right"><i class="icon-angle-right"></i></span>
        </a>
        <ul>
          <li><%= link_to "All Parts", store_inventory_path(@store, :parts) %></li>
          <li><%= link_to "All Sets", store_inventory_path(@store, :sets) %></li>
          <li><a href="post.html">On My Wishlist</a></li>
        </ul>
      </li>
      <li class="has_submenu nred">
        <a href="#">
          <i class="icon-th"></i> My Store Orders
          <span class="pull-right"><i class="icon-angle-right"></i></span>
        </a>

        <ul>
          <li><a href="post.html">Open</a></li>
          <li><a href="post.html">Closed</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
