.span4
  .widget.wlightblue
    .widget-head
      .pull-left
        About
        = store.name
      .clearfix
    .widget-content
      %ul.project
        %li
          = link_to "Link", root_url

